<h1>About us</h1>
<p>We are a small volunteer group (currently 1) that is trying to change how therapists are resourced.</p>

<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>